# MongoDB Connection
MONGODB_URI=mongodb+srv://your_username:your_password@your_cluster.mongodb.net/your_database

# JWT Configuration
JWT_SECRET=your_jwt_secret_key

# Server Configuration
PORT=3000
NODE_ENV=development

# Stripe (if implementing payments)
STRIPE_SECRET_KEY=your_stripe_secret_key 


# Stripe Configuration
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_next_public_stripe_publishable_key

NEXT_PUBLIC_API_URL=your_next_public_api_url

